*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #059669;
    /*making color variable, root means entire css */
    --dark-gray: #6B7280;
    --off-white:#F3F4F6;
}

body{
    font-family: sans-serif;
}

.glassmorphism  {
    background: rgba( 255, 255, 255, 0.6 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 16.5px );
    -webkit-backdrop-filter: blur( 16.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}




nav{
    display: flex;
    min-height: 7vh;
    align-items: center;
    padding-left: 10px;
}

/**------- @container-----------**/
.container {
    padding: 1rem 1rem;
    align-items: center;
 
}

.container-center {
    max-width: 600px;
    margin: auto;
    margin-top: 2rem;
}




/*--------@sections----------*/
.section{
    padding: 2rem;
}
.section h1 {
    text-align: center;
}
.ow{
    background-color: var(--off-white);
}


/*--------------@footer---------*/
.footer{
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
}
.footer .footer-header{
    font-weight: bold;
    font-size: large;
}
.footer .link{
    color:white;
}
.footer ul{
    padding-inline-start: 0px;
}
label{
    display: block;
    padding: 1rem;
}
#check-number-btn{
    background-color:var(--dark-gray); /* Green */
  border: none;
  color: white;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5rem;
  font-size: 1rem;
  margin-top: 2rem ;
}
#output-box{
    padding: 2rem;
    font-size: larger;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.error{
    color: red;
     display: none;
}
